<script src="~/Scripts/Views/ValidationHelper.js"></script>
<script src="~/Scripts/SessionInspector.js"></script>
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<main id="main" class="form-container container">
    <section class="my-5 mx-4">
        <section class="section-title">
            <p>Su cuenta se encuentra bloqueada, el ingreso no es permitido</p>
        </section>

        <section class="text-center">
            <img src="~/Content/Images/Alert.png" alt="Alert image" />
        </section>
    </section>
</main>