@using Web_UI.Models.Helpers;
<script src="~/Scripts/Views/vBill.js"></script>
<script src="~/Scripts/Views/ValidationHelper.js"></script>
<script src="~/Scripts/SessionInspector.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<main id="main" class="form-container container">

    <section class="my-5 mx-4">
        <section class="section-title">
            <p>Ingresos de Aplicación</p>
        </section>
        <div id="SummaryDiv1">
            <div style="float: left; width:50%">
                <div id="tableContents1">
                    <section class="section-title text-center" style="padding-top: 45px;">
                        <h2>Ingresos Diarios</h2>
                    </section>

                    <table id="tableSummary" style="width:100%; table-layout:fixed;">
                        <tr>
                            <th style="text-align: right;">Cobros totales:</th>
                            <td style="text-align: left;"><p id="txtCTT">₡ 0</p></td>
                        </tr>
                        <tr>
                            <th style="text-align: right;">Suscripciones:</th>
                            <td style="text-align: left;"><p id="txtSubT">₡ 0</p></td>
                        </tr>
                        <tr>
                            <th style="text-align: right;">Comisiones:</th>
                            <td style="text-align: left;"><p id="txtComT">₡ 0</p></td>
                        </tr>
                        <tr>
                            <th style="text-align: right;">Impuestos:</th>
                            <td style="text-align: left;"><p id="txtIVAT">₡ 0</p></td>
                        </tr>
                    </table>
                </div>
            </div>
            <section style="width:50%; float: right">
                <div id="chartContainer1">
                </div>
            </section>
        </div>


        <div id="SummaryDiv2">
            <div style="float: left; width:50%">
                <div id="tableContents2">
                    <section class="section-title text-center" style="padding-top: 45px;">
                        <h2>Ingresos Totales</h2>
                    </section>
                    <table id="tableSummary2" style="width:100%; table-layout:fixed;" ">
                        <tr>
                            <th style="text-align: right;">Cobros totales:</th>
                            <td style="text-align: left;"><p id="txtCTA">₡ 0</p></td>
                        </tr>
                        <tr>
                            <th style="text-align: right;">Suscripciones:</th>
                            <td style="text-align: left;"><p id="txtSubA">₡ 0</p></td>
                        </tr>
                        <tr>
                            <th style="text-align: right;">Comisiones:</th>
                            <td style="text-align: left;"><p id="txtComA">₡ 0</p></td>
                        </tr>
                        <tr>
                            <th style="text-align: right;">Impuestos:</th>
                            <td style="text-align: left;"><p id="txtIVAA">₡ 0</p></td>
                        </tr>
                    </table>
                </div>
            </div>
            <section style="width:50%; float: right">
                <div id="chartContainer2">
                </div>
            </section>
        </div>

        <label class="switch">
            <input id="SwitchTabBox" type="checkbox" checked onclick="ShowTab()">
            <span class="slider round"></span>
        </label>

        <section class="section-title">
            <p style="font-size: 28px;" id="TitleTabBill">Detalle de ingresos</p>
        </section>

        <section id="tab1" class="d-flex justify-content-around">
            @Html.CTRL_Table(ViewName: "vBill", ID: "TBL_incomings_List", Title: "Ingresos de aplicación financieros",
            ColumnsTitle: "Número,Tipo,Detalle,Fecha,SubTotal,Monto", ColumnsDataName: "Id,Type,Description,Timestamp,SubTotal,Total",
            OnSelectFunction: "BindFields")
        </section>

        <section id="tab2" class="d-flex justify-content-around d-none">
            @Html.CTRL_Table(ViewName: "vBill", ID: "TBL_Bill_List", Title: "Listado de facturas",
            ColumnsTitle: "Número,Fecha,Usuario,Detalle,Total Pagado,Ganancia", ColumnsDataName: "Id,Timestamp,UserReceptorId,Description,Total,SubTotal",
            OnSelectFunction: "BindFields")
        </section>

    </section>

    <section id="BillSection" class="d-none my-5 mx-4">
        <section class="section-title text-center col-md-4" style="padding-top: 20px;">
            <h2>Detalles de Factura</h2>
        </section>
        <div id="BillDiv1">
            <div style="padding: 0px 30px 30px;">

                <table id="tableFormBill" style="width:100%;  ">
                    <tr>
                        <th width="85" style="text-align: left;">Factura n°:</th>
                        <td style="text-align: left;"><p id="txtBillNumber"></p></td>
                    </tr>
                    <tr>
                        <th width="85" style="text-align: left;">Cédula:</th>
                        <td style="text-align: left;"><p id="txtClientCed"></p></td>
                    </tr>
                    <tr>
                        <th width="85" style="text-align: left;">Nombre:</th>
                        <td style="text-align: left;"><p id="txtClientName"></p></td>
                    </tr>
                    <tr>
                        <th width="85" style="text-align: left;">Teléfono:</th>
                        <td style="text-align: left;"><p id="txtClientPhone"></p></td>
                    </tr>
                    <tr>
                        <th width="85" style="text-align: left;">Correo electrónico:</th>
                        <td style="text-align: left;"><p id="txtClientEmail"></p></td>
                    </tr>
                    <tr>
                        <th width="85" style="text-align: left;">Fecha:</th>
                        <td style="text-align: left;"><p id="txtDate"></p></td>
                    </tr>
                </table>
            </div>
        </div>

        <div>
            <div id="BillDiv2">

                <table id="tableBillDetail" style="width:100%;">
                    <tr>
                        <th style="text-align: center;">Item</th>
                        <th style="text-align: center;">Detalle</th>
                        <th style="text-align: center; ">Precio</th>
                    </tr>
                    <tr>
                        <th style="text-align: center; border-top: 1px solid black;">1</th>
                        <td style="text-align: center; border-top: 1px solid black;"><p id="txtDetail"></p></td>
                        <td style="text-align: center; border-top: 1px solid black;"><p id="txtPrice"></p></td>
                    </tr>
                    <tr>
                        <td style="text-align: right; border-top: 3px solid black;"></td>
                        <th style="text-align: right; border-top: 3px solid black;">SUBTOTAL:</th>
                        <td style="text-align: center; border-top: 3px solid black;"><p id="txtSubtotal"></p></td>
                    </tr>
                    <tr>
                        <td style="text-align: right;"></td>
                        <th style="text-align: right;">IVA (13%):</th>
                        <td style="text-align: center; "><p id="txtIva"></p></td>
                    </tr>
                    <tr>
                        <td style="text-align: right;"></td>
                        <th style="text-align: right;">TOTAL:</th>
                        <td style="text-align: center;"><p id="txtTotal"></p></td>
                    </tr>
                </table>
            </div>
        </div>
        <section class="d-flex justify-content-around py-4 button-group">
            <button class="btn-main-action" id="panel-bills-close">Cerrar</button>
        </section>
    </section>

    <div class="d-flex justify-content-start py-4 button-group">
        @Html.ActionLink("Volver", "Index", "vListBill", new { @class = "btn-second-action mx-4" })
    </div>
</main>