@using Web_UI.Models.Helpers;
<script src="~/Scripts/Views/vVerification.js"></script>
<script src="~/Scripts/Views/ValidationHelper.js"></script>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main" class="form-container container">
    <section class="my-5 mx-4">
        <section class=" section-title">
            <p>Verificar Cuenta</p>
        </section>

        <section class="generic-form">
            <form id="frmVerificationData" class="d-flex flex-column align-items-center">
                <div class="col-md-4">
                    @Html.CTRL_Input(ID: "emailCode", Type: "number", Label: "Codigo de verificación del correo", ColumnDataName: "emailCode")
                </div>

                <div class="col-md-4">
                    @Html.CTRL_Input(ID: "phoneCode", Type: "number", Label: "Codigo de verificación del numero de celular", ColumnDataName: "phoneCode")
                </div>
            </form>

            <section class="d-flex justify-content-around py-4 button-group">
                @Html.CTRL_Button(ViewName: "vVerification", ID: "BTN_Verification", Label: "Verificar cuenta", OnClickFunction: "Verification", ButtonType: "btn-main-action")
                @Html.ActionLink("Volver", "Index", "/", new { @class = "btn-second-action mx-4" })
            </section>
        </section>
    </section>
</main>
